h2,h4{
    margin:0;
}
input, button{
    border-radius: 8px;
    background-color:  aquamarine;;
}
.flexConntainer {
    width: 80%;
    height:auto;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.flexItem {
    flex: 1;
}
.flexNav{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
}
.flexNavCenter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.flexNavCenterItem{
    margin-left: 10px;
    margin-right: 10px;
}

.flexNavRight{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.flexNavRightItem{
    margin-left: 10px;
    margin-right: 10px;
}

.flexTitle{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flexTitle01{
 font-size: 30px;
}
.flexCardZone{
    height: 60vh; width: 100%; display: flex; flex-direction: row
}
.flexCardZoneLeft{
    width: 40%; display: flex; flex-direction: column
}

.flexCardItem{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.flexCardItemTrashBorder{
    display: flex; width: 10%; margin: 25px
}
.flexCardItemTrash{
    display: flex;
    height: 30px;
    width: 30px;
    border: 1.5px solid rgb(205, 205, 205);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.flexCardItemDetails{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: aquamarine;
}
.flexCardItemDetailsStructure{
    flex: 1;
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}
.flexCardItemDetailsRate{
    display: flex;
                flex-direction: column;
                align-items: space-between;
                width: 50%;
                height: 180px;
}
.flexCardItemDetailsGrouphi{
    margin-left: 30px; display: flex; flex-direction: column
}
.flexCardItemDetailstitle{
    font-size: x-large
}
.flexCardItemDetailsPrice{
    width: 100%;
    height: 100%;
    margin-top: 55px;
    margin-left: 30px;
}

.flexCardZoneRight{
    width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center
        }
.flexCardOrderInfo{
    width: 60%;
    height: 60%;

    margin-top: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.flexCardOrderInfoTitle{
    display: flex;
                width: 100%;
                margin-top: 30px;
                margin-left: 30px;
}
.flexCardOrderInfoTitleText{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.flexCardOrderInfoPromo{display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between
}

.flexCardOrderInfoSummary{
    display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
}